<h2> Estadisticas </h2>

<ul>
  <li><%= statics.nQuizes %> - preguntas creadas</li>
  <li><%= statics.nComments %> - comentarios creados</li>
  <li><%= statics.nComments/statics.nQuizes %> - comentarios de media por pregunta </li>
  <li><%= statics.nQuizNoComments %> - preguntas sin comentarios</li>
  <li><%= statics.nQuiWithComments %> - preguntas con comentarios</li>
  <li></li>
</ul>
